@model IEnumerable<OrderDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>My Orders</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pizza.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizza.Pizza_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizza.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza.Pizza_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
           
            <td>
                <a asp-action="Details" asp-route-id="@item.Oid">Details</a>

            </td>
        </tr>
}
    </tbody>
</table>
